@using Todolist.ViewModels
@model TasksVm

@{
    /**/

    ViewBag.Title = "Todolist";
}
<br /><br />
<a class="btn btn-info" href="@Url.Action("Create", new { id = "" })" id="AddTask" role="button">Add Task</a>
<br /><br />
<div id="PartialContent">
    @Html.Partial("_PartialContent", Model)
</div>
<div id="ModDialog" class="modal fade" role="dialog">
    <div id="DialogContent" class="modal-dialog">
    </div>
</div>

