@using Todolist.ViewModels
@model TasksVm
@{
    /**/

    ViewBag.Title = "Todolist";
}
<br /><br />
<button type="button" class="btn btn-info" data-url="@Url.Action("Create")" id="AddTask">Add Task</button>
<br /><br />
<div id="PartialContent">
    @Html.Partial("_PartialContent", Model)
</div>
<div id="ModDialog" class="modal fade" role="dialog">
    <div id="DialogContent" class="modal-dialog">
    </div>
</div>

