html, body {
    height: 100%;
}

.wrap {
    height: auto;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 0 60px;
}

    .wrap > .container {
        padding: 70px 15px 20px;
    }

.navbar {
    /*background-color: #00ff90;*/
    /*background-color: #15317E;*/
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    height: 60px;
    padding-top: 20px;
}

.control-label {
    float: none;
    padding-left: 0px;
}

.delete-task {
    background-color: tomato;
}

.text-primary, .text-info {
    font-size: 30px;
}

.input-validation-error {
    border-color: red;
}
